body {
    margin: 10px; }

.container-fluid {
    padding: 0 10px; }
@media (min-width: 900px) {
    .container-fluid {
        padding: 0 40px; } }

a {
    cursor: pointer;
    text-decoration: none; }

.logo {
    margin-top: 40px; }
@media (min-width: 900px) {
    .logo {
        margin-top: 60px; } }
.logo::before {
    content: "";
    display: inline-block;
    background: url("../i/sign.png") no-repeat;
    width: 28px;
    height: 36px; }
.logo p {
    display: inline-block;
    font-size: 14px;
    font-family: Alsfuchsia, sans-serif;
    vertical-align: bottom;
    margin-bottom: 0; }
.logo p span {
    font: 20px bold Alsfuchsia, sans-serif;
    color: black; }

header form input {
    background: transparent;
    margin: 40px 10px 20px;
    border-radius: 20px;
    padding: 1px 5px; }
@media (min-width: 900px) {
    header form input {
        margin: 60px 10px 40px; } }
header form input:focus {
    outline: 0; }
header form button {
    font-size: 26px;
    vertical-align: middle;
    text-decoration: none;
    border-width: 0;
    background-color: transparent; }

/*
Footer*/
footer {
    margin-top: 100px;
    text-align: center; }
footer a {
    display: inline-block;
    position: relative; }
footer a::after {
    content: "";
    background-image: url("../i/logo.png");
    width: 240px;
    height: 29px;
    position: absolute;
    top: 20px;
    left: 30px; }

/*
Main*/
main {
    color: #595959;
    font-family: Arial, sans-serif;
    text-align: center; }
main h1 {
    color: #79507b;
    font-size: 30px;
    font-weight: bold; }
@media (min-width: 900px) {
    main h1 {
        font-size: 55px; } }
main p {
    color: #414141;
    font-size: 22px; }
main a {
    display: inline-block;
    padding: 20px;
    background-image: linear-gradient(to right, #623a64 0, #865888 100%);
    color: white;
    font-size: 34px;
    border-radius: 10px;
    border-width: 0;
    box-shadow: 2px 8px 25px #414141;
    margin: 60px 0 30px; }
main a:hover {
    text-decoration: none;
    background-image: linear-gradient(90deg, #49274b 0, #c28dc5 100%);
    color: white; }
main a:active {
    background-image: linear-gradient(90deg, #623a64 0, #865888 100%);
    box-shadow: 0 2px 5px #414141; }
main img {
    margin: 50px 0 25px; }
main .cite::before {
    content: ''; }

.cover {
    box-shadow: 3px 5px 10px #414141;
    width: 280px;
    margin: 30px 0 40px; }
@media (min-width: 900px) {
    .cover {
        width: 100%;
        margin: 30px 0 50px; } }

.note {
    color: #d5d5d5; }

.photo {
    margin: 0 0 80px;
}

.eye {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: white; }
.eye .apple {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -5px;
    margin-left: -5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 6px solid black; }

@keyframes blinking {
    from {
        border-width-: 2px; }
    50% {
        border-width: 50.2px 2px; }
    to {
        border-width: 2px; } }
.blink {
    animation: blinking 1s ease 1; }

/*# sourceMappingURL=book.css.map */
