body {
    margin: 10px;
}

a {
    cursor: pointer;
    text-decoration: none; }

.logo {
    margin-top: 40px; }

input {
    background: transparent;
    margin: 40px 10px;
    border-radius: 20px;
    padding: 1px 5px; }

.logo::before {
    content: "";
    display: inline-block;
    background: url("../i/sign%20b&w.png") no-repeat;
    width: 28px;
    height: 36px; }

.logo p {
    display: inline-block;
    font-size: 14px;
    font-family: Alsfuchsia;
    vertical-align: bottom;
    margin-bottom: 0; }

.logo p > span {
    font: 20px bold Alsfuchsia, sans-serif;
    color: black; }

header button {
    font-size: 26px;
    vertical-align: middle;
    text-decoration: none;
    border-width: 0;
    background-color: transparent; }

/*
Footer*/
footer {
    margin-top: 100px;
    text-align: center; }

footer a::after {
    content: "";
    background-image: url("../i/logo.png");
    width: 240px;
    height: 29px;
    position: absolute;
    top: 20px;
    left: 30px; }

footer a {
    display: inline-block;
    position: relative; }

/*# sourceMappingURL=header_footer.css.map */
