body {
    margin: 10px; }

.container-fluid {
    padding: 0 10px; }
@media (min-width: 900px) {
    .container-fluid {
        padding: 0 40px; } }

a {
    cursor: pointer;
    text-decoration: none; }

.logo {
    margin-top: 40px; }
@media (min-width: 900px) {
    .logo {
        margin-top: 60px; } }
.logo::before {
    content: "";
    display: inline-block;
    background: url("../i/sign.png") no-repeat;
    width: 28px;
    height: 36px; }
.logo p {
    display: inline-block;
    font-size: 14px;
    font-family: Alsfuchsia, sans-serif;
    vertical-align: bottom;
    margin-bottom: 0; }
.logo p span {
    font: 20px bold Alsfuchsia, sans-serif;
    color: black; }

header form input {
    background: transparent;
    margin: 40px 10px 20px;
    border-radius: 20px;
    padding: 1px 5px; }
@media (min-width: 900px) {
    header form input {
        margin: 60px 10px 40px; } }
header form input:focus {
    outline: 0; }
header form button {
    font-size: 26px;
    vertical-align: middle;
    text-decoration: none;
    border-width: 0;
    background-color: transparent; }

/*
Footer*/
footer {
    margin-top: 100px;
    text-align: center; }
footer a {
    display: inline-block;
    position: relative; }
footer a::after {
    content: "";
    background-image: url("../i/logo.png");
    width: 240px;
    height: 29px;
    position: absolute;
    top: 20px;
    left: 30px; }

/*
Main*/
main {
    font-size: 36px;
    text-align: center; }
main h1 {
    margin-top: 100px; }
main button {
    font-size: 20px;
    color: #4283c0;
    border-radius: 10px;
    border: 1px solid #96c2e4;
    background-color: transparent;
    padding: 16px 63px; }
main button:hover, main button:active {
    color: #e72818;
    border: 1px solid #e51907; }
main button:focus {
    outline: none; }
main button.disable:hover, main button.disable {
    color: #999999;
    border: 1px solid #999999; }
main a {
    display: block;
    color: black;
    font-size: 20px;
    margin: 35px 0; }
main a p {
    margin-top: 30px; }
main a p u {
    color: #96c2e4; }
main .button {
    margin: 15px 0 100px;
}

/*# sourceMappingURL=main.css.map */
