body {
    margin: 10px; }

.container-fluid {
    padding: 0 10px; }
@media (min-width: 900px) {
    .container-fluid {
        padding: 0 40px; } }

a {
    cursor: pointer;
    text-decoration: none; }

.logo {
    margin-top: 40px; }
@media (min-width: 900px) {
    .logo {
        margin-top: 60px; } }
.logo::before {
    content: "";
    display: inline-block;
    background: url("../i/sign.png") no-repeat;
    width: 28px;
    height: 36px; }
.logo p {
    display: inline-block;
    font-size: 14px;
    font-family: Alsfuchsia, sans-serif;
    vertical-align: bottom;
    margin-bottom: 0; }
.logo p span {
    font: 20px bold Alsfuchsia, sans-serif;
    color: black; }

header form input {
    background: transparent;
    margin: 40px 10px 20px;
    border-radius: 20px;
    padding: 1px 5px; }
@media (min-width: 900px) {
    header form input {
        margin: 60px 10px 40px; } }
header form input:focus {
    outline: 0; }
header form button {
    font-size: 26px;
    vertical-align: middle;
    text-decoration: none;
    border-width: 0;
    background-color: transparent; }

/*
Footer*/
footer {
    margin-top: 100px;
    text-align: center; }
footer a {
    display: inline-block;
    position: relative; }
footer a::after {
    content: "";
    background-image: url("../i/logo.png");
    width: 240px;
    height: 29px;
    position: absolute;
    top: 20px;
    left: 30px; }

/*
Main*/
main {
    text-align: center; }

.col {
    text-align: left; }
@media (min-width: 900px) {
    .col {
        display: inline-block;
        vertical-align: top;
        margin: 0 20px; } }
.col ul {
    padding: 0; }
.col ul li {
    list-style-type: none; }
.col p {
    font-weight: bold; }

#order {
    text-align: center;
    margin-top: 50px; }
#order > div {
    display: inline-block; }
#order > p {
    font-size: 16px;
    font-weight: bold; }
#order button {
    width: 180px;
    height: 25px;
    margin: 0 auto;
    border-color: black;
    border-radius: 4px;
    box-shadow: 1px 3px 5px; }

.preloader {
    display: none; }

.total {
    margin-top: 30px;
    font: 20px bold alsfuchsia, sans-serif;
    color: #623a64; }

#search [name="currency"] {
    display: none;
}

@media (min-width: 900px) {
    #search {
        float: right; } }

@media (min-width: 900px) {
    .logo {
        display: inline-block;
        vertical-align: bottom; } }

/*# sourceMappingURL=order.css.map */
