<!DOCTYPE html>
<html lang="ru" ng-app="SearchApp">
<head>
  <meta charset="UTF-8">
  <title>Search</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/search.css">
  <link rel="shortcut icon" href="i/favicon.ico">
  <link rel="stylesheet" href="font/alsfuchsia.otf" type="text/css">
  <script src="libs/angular-1.5.3/angular.js"></script>
</head>
<body ng-controller="BooksLIstCtrl">
<header>
  <a href="index.html">
    <div class="logo">
      <p>Издательство<br><span>Фрай, без штанов и Бендер</span></p>
    </div>
  </a>
  <form id="search">
    <input type="search" placeholder="&#128269;" ng-model="query">
    <p>Сортировать по:</p>
    <select ng-model="orderProperty">
      <option value="title">Названию</option>
      <option value="price">Цене</option>
      <option value="author.name">Автору</option>
    </select>
  </form>

</header>

<main>

  <ul>
    <li ng-repeat="book in books | filter:query | orderBy:orderProperty">
      <h3>{{book.title | uppercase}}</h3>
      <p>{{book.author.name}}</p>
      <p>Цена: {{book.price}} {{charCode}}</p>
    </li>
  </ul>

  <p ng-show="query">
    Выведены книги, содержащие
    {{query}}
  </p>
</main>

<footer>
  <a href="#" class="disabled"><img src="i/bender.png" alt="Бендер"></a>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="script/app.js"></script>
<script src="script/controllers.js"></script>
</body>
</html>