@import "header_footer";

$appleSize: 10px;
$eyeSize: 100px;


/*
Main*/
main {
  color: #595959;
  font-family: Arial, sans-serif;
  text-align: center;

  h1 {
    color: #79507b;
    font-size: 30px;
    font-weight: bold;

    @media (min-width: 900px) {
      font-size: 55px;
    }
  }

  p {
    color: #414141; font-size: 22px;
  }

  a {
    display: inline-block;
    padding: 20px;
    background-image: linear-gradient(to right, #623a64 0, #865888 100%);
    color: white;
    font-size: 34px;
    border-radius: 10px;
    border-width: 0;
    box-shadow: 2px 8px 25px #414141;
    margin: 60px 0 30px;

    &:hover {
      text-decoration: none;
      background-image: linear-gradient(90deg, #49274b 0, #c28dc5 100%);
      color: white;
    }

    &:active {
      background-image: linear-gradient(90deg, #623a64 0, #865888 100%);
      box-shadow: 0 2px 5px #414141;
    }
  }

  img {
    margin: 50px 0 25px;
  }

  .cite::before {
    content: '';
  }
}

.cover {
  box-shadow: 3px 5px 10px #414141;
  width: 280px;
  margin: 30px 0 40px;
  
  @media (min-width: 900px) {
    width: 100%;
    margin: 30px 0 50px;
  }
}
.note  {
  color: #d5d5d5;
}
.photo {
  margin: 0 0 80px;
}

.eye {
  position: absolute;
  top: 50%; left: 50%;
  width: 100px; height: 100px;
  margin-top: -50px; margin-left: -50px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: white;

  .apple {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -$appleSize / 2;
    margin-left: -$appleSize / 2;
    width: $appleSize; height: $appleSize;
    border-radius: 50%;
    border: 6px solid black;
  }
}
@keyframes blinking {
  from {
    border-width-: 2px;
  }
  50% {
    border-width: $eyeSize/2+.2 2px;
  }
  to {
    border-width: 2px;
  }
}
.blink {
  animation: blinking 1s ease 1;
}