$blue: #96c2e4;
$red: #e51907;
$indent: 40px;

body {
  margin: 10px;

}

.container-fluid {
  padding: 0 10px;

  @media (min-width: 900px) {
    padding: 0 40px;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
}
.logo {
  margin-top: $indent;
  @media (min-width: 900px) {
    margin-top: 60px;
  }

  &::before {
    content: "";
    display: inline-block;
    background: url("../i/sign.png") no-repeat;
    width: 28px; height: 36px;
  }

  p {
    display: inline-block;
    font-size: 14px; font-family: Alsfuchsia, sans-serif;
    vertical-align: bottom;
    margin-bottom: 0;

    span {
      font: 20px bold Alsfuchsia, sans-serif;
      color: black;
    }
  }
}


header form {
  input {
    background: transparent;
    margin: 40px 10px 20px;
    border-radius: 20px;
    padding: 1px 5px;
    @media (min-width: 900px) {
      margin: 60px 10px 40px;
    }

    &:focus {
      outline: 0;
    }
  }

  button {
    font-size: 26px;
    vertical-align: middle;
    text-decoration: none;
    border-width: 0;
    background-color: transparent;
  }
}


/*
Footer*/
footer {
  margin-top: 100px;
  text-align: center;

  a {
    display: inline-block;
    position: relative;

    &::after {
      content: "";
      background-image: url("../i/logo.png");
      width: 240px; height: 29px;
      position: absolute;
      top: 20px; left: 30px;
    }
  }
}