@import "header_footer";

/*
Main*/
main {
	font-size: 36px;
	text-align: center;

	h1 {
		margin-top: 100px;
	}

	button {
		font-size: 20px;
		color: #4283c0;
		border-radius: 10px;
		border: 1px solid $blue;
		background-color: transparent;
		padding: 16px 63px;

		&:hover, &:active {
			color: #e72818;
			border: 1px solid $red;
		}
		&:focus {
			outline: none;
		}
		&.disable:hover, &.disable {
			color: #999999;
			border: 1px solid #999999;
		}
	}

	a {
		display: block;
		color: black;
		font-size: 20px;
		margin: 35px 0;

		p {
			margin-top: 30px;

			u {
				color: $blue;
			}
		}
	}

	.button {
		margin: 15px 0 100px;
	}
}