@import "header_footer";

/*
Main*/

main {
    text-align: center;
}

.col {
  text-align: left;
  @media (min-width: 900px){
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
  }

  ul {
    padding: 0;
    li {list-style-type: none;}
  }

  p {
    font-weight: bold;
  }
}

#order {
  text-align: center;
  margin-top: 50px;

  & > div {
    display: inline-block;
  }

  & > p {
    font-size: 16px;
    font-weight: bold;
  }

  button {
    width: 180px;
    height: 25px;
    margin: 0 auto;
    border-color: black;
    border-radius: 4px;
    box-shadow: 1px 3px 5px;
  }
}

.preloader {
    display: none;
}

.total {
  margin-top: 30px;
  font: 20px bold alsfuchsia, sans-serif;
  color: #623a64;
}

#search {
    [name="currency"] {
        display: none;
    }

    @media (min-width: 900px){
      float: right;
    }
}

.logo {
  @media (min-width: 900px){
    display: inline-block;
    vertical-align: bottom;
  }
}