@import "header_footer";

#search {
    @media (min-width: 900px) {
      float: right;
    }
}

.logo {
  @media (min-width: 900px){
    display: inline-block;
    vertical-align: bottom;
  }
}

h3 {font-size: 18px;}

ul {
  padding-left: 0;

  @media (min-width: 900px){
    margin-top: 80px;
  }
}